<h1>Подтверждение регистрации.</h1>

<p>
    Для подтверждения регистрации перейдите по ссылке: <br><br>
    <a href="{{ signedUrl }}">Подтвердить email</a>.
    Эта ссылка будет актуальня {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Хорошего дня!
</p>
